@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>
<hr />
<p>
    University of Wollongong is a research-intensive university with an outstanding reputation
    for its learning environments across a broad range of disciplines.
</p>
<p>
    Our commitment to our students is evident in our graduates,
    who are recognised for their capability, quality and success in the global workplace.
</p>
<p>
    UOW is an international network of campuses and regional learning centres.
    Together with our partners, we make a strong and connected presence in our communities.
</p>
<p>
    We are a young and vibrant university with undiminished ambitions.
    We value our research capacity to work on complex interdisciplinary problems.
    Our spirit of inquiry drives our research and learning environments and our objective of
    earning a place in the top 1% of the world's universities..
</p>
<iframe width="700" height="394" 
        src="https://www.youtube.com/embed/p_CyZjdPlao" frameborder="0" 
        allow="autoplay; encrypted-media" allowfullscreen>
</iframe>
